<html>
	<head>
		<title>blockcillin</title>
		<link rel="stylesheet" type="text/css" href="css/site.css">
	</head>
	<body>
		<p>
			<a href="https://blockcillin.blogspot.com" target="_blank">Blog</a> |
			<a href="https://github.com/btmura/blockcillin" target="_blank">GitHub</a>
		</p>
		<canvas id="canvas"></canvas>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		{{if .Compiled}}
			<script src="js/compiled.js"></script>
		{{else}}
			<script src="js/bc.js"></script>
			<script src="js/math.js"></script>
			<script src="js/time.js"></script>
			<script src="js/vector.js"></script>
			<script src="js/matrix.js"></script>
			<script src="js/main.js"></script>
		{{end}}
	</body>
</html>