{{define "main-menu"}}
	<div id="main-menu" class="menu-container">
		<table class="menu-container-table">
			<td>
				<h1 id="main-menu-title">b l o c k c i l l i n</h1>
				<ul id="main-menu-stats" class="main-menu-stats">
					<li>SPEED: <span id="main-menu-speed-level-stat"></span></li>
					<li>TIME: <span id="main-menu-elapsed-time-stat"></span></li>
					<li>SCORE: <span id="main-menu-score-stat"></span></li>
				</ul>
				<ul class="vertical-menu">
					<li class="button" id="continue-game-button">C O N T I N U E &nbsp;G A M E</li>
					<li class="button" id="new-game-button">N E W &nbsp;G A M E</li>
					<li class="button" id="options-button">O P T I O N S</li>
				</ul>
			</td>
		</table>
	</div>
{{end}}

{{define "game-menu"}}
	<div id="game-menu" class="menu-container">
		<table class="menu-container-table">
			<td>
				<ul class="horizontal-menu">
					<li class="stat">
						<h2>SPEED</h2>
						<p id="speed-level-stat"></p>
					</li>
					<li class="button" id="pause-button">
						<h2>TIME</h2>
						<p id="elapsed-time-stat"></p>
					</li>
					<li class="stat">
						<h2>SCORE</h2>
						<p id="score-stat"></p>
					</li>
				</ul>
			</td>
		</table>
	</div>
{{end}}

{{define "options-menu"}}
	<div id="options-menu" class="menu-container">
		<table class="menu-container-table">
			<td>
				<h1>O P T I O N S</h1>
			</td>
		</table>
	</div>
{{end}}

{{define "links"}}
	<p id="links">
		<a href="https://blockcillin.blogspot.com">Blog</a>
		| <a href="https://github.com/btmura/blockcillin">GitHub</a>
		{{if .ShowDebugLink}}| <a href="/debug">Debug</a>{{end}}
		{{if .ShowReleaseLink}}| <a href="/">Release</a>{{end}}
		{{if .ShowTestLink}}| <a href="/tests">Tests</a>{{end}}
	</p>
{{end}}
