{{define "menus"}}
	<div id="main-menu" class="centered-menu-container">
		<table>
			<td>
				<h1 id="main-menu-title">b l o c k c i l l i n</h1>
				<div id="main-menu-stats">
					{{template "stats"}}
				</div>
				<ul class="vertical-menu">
					<li id="continue-button" class="button">C O N T I N U E</li>
					<li id="new-game-button" class="button">N E W &nbsp;G A M E</li>
					<li id="stats-button" class="button">S T A T S</li>
					<li id="options-button" class="button">O P T I O N S</li>
					<li id="credits-button" class="button">C R E D I T S</li>
				</ul>
				<p class="footer">© 2014 BM Software v0.3</p>
			</td>
		</table>
	</div>

	<div id="stats-menu" class="centered-menu-container">
		<table>
			<td>
				<div class="menu-panel">
					<h2>S T A T S</h2>
					<h3 id="no-stats-label">You haven't played yet!</h3>
					{{template "stats-entry" 1}}
					{{template "stats-entry" 2}}
					{{template "stats-entry" 3}}
					{{template "stats-entry" 4}}
					{{template "stats-entry" 5}}
					{{template "close-button"}}
				</div>
			</td>
		</table>
	</div>

	<div id="options-menu" class="centered-menu-container">
		<table>
			<td>
				<div class="menu-panel">
					<h2>O P T I O N S</h2>
					<fieldset>
						<legend>KEYBOARD CONTROLS</legend>
						<p>
							<label>UP</label>
							<button id="up-button" class="button"></button>
						</p>

						<p>
							<label>DOWN</label>
							<button id="down-button" class="button"></button>
						</p>

						<p>
							<label>LEFT</label>
							<button id="left-button" class="button"></button>
						</p>

						<p>
							<label>RIGHT</label>
							<button id="right-button" class="button"></button>
						</p>

						<p>
							<label>SWAP</label>
							<button id="swap-button" class="button"></button>
						</p>

						<p>
							<label>MENU</label>
							<button id="menu-button" class="button"></button>
						</p>
					</fieldset>
					{{template "close-button"}}
				</div>
			</td>
		</table>
	</div>

	<div id="credits-menu" class="centered-menu-container">
		<table>
			<td>
				<div class="menu-panel">
					<h2>C R E D I T S</h2>
					<fieldset class="credits">
						<h3>CODING, MUSIC, GRAPHICS</h3>
						<ul>
							<li><a href="http://sites.google.com/site/btmura" target="_blank">Brian Muramatsu</a></li>
						</ul>
						<h3>THANK YOU</h3>
						<ul>
							<li>Mom</li>
							<li>ALL PLAYERS</li>
							<li>Stuart</li>
						</ul>
						<ul>
							<li><a href="http://games.greggman.com/game/tag/webgl/" target="_blank">greggman</a></li>
							<li><a href="http://forums.tigsource.com/index.php?topic=41329.0" target="_blank">TIGForums</a></li>
						</ul>
						<h3>TOOLS</h3>
						<ul>
							<li><a href="http://www.sublimetext.com" target="_blank">Sublime Text</a></li>
							<li><a href="http://www.gimp.org" target="_blank">GIMP</a></li>
							<li><a href="http://www.warmplace.ru/soft/sunvox/" target="_blank">SunVox</a></li>
							<li><a href="http://www.google.com/chrome" target="_blank">Chrome</a></li>
						</ul>
						<h3>LINKS</h3>
						<ul>
							<li><a href="http://blockcillin.blogspot.com" target="_blank">Blog</a></li>
							<li><a href="http://github.com/btmura/blockcillin" target="_blank">GitHub</a></li>
							<li><a href="http://youtube.com/btmura" target="_blank">YouTube</a></li>
							<li><a href="http://twitter.com/btmura" target="_blank">Twitter</a></li>
							<li><a href="https://plus.google.com/104822390500894743007/posts" target="_blank">Google+</a></li>
						</ul>
					</fieldset>
					{{template "close-button"}}
				</div>
			</td>
		</table>
	</div>

	<div id="game-menu" class="menu-container">
		<table>
			<td>
				<ul class="horizontal-menu">
					<li class="game-stat">
						<h2>SPEED</h2>
						<p id="speed-level-stat"></p>
					</li>
					<li id="pause-button" class="button">
						<h2>TIME</h2>
						<p id="elapsed-time-stat"></p>
					</li>
					<li class="game-stat">
						<h2>SCORE</h2>
						<p id="score-stat"></p>
					</li>
				</ul>
			</td>
		</table>
	</div>
{{end}}

{{define "stats-entry"}}
	<fieldset id="{{printf "stats-entry-%d" .}}">
		<div id="{{printf "stats-%d" .}}">
			{{template "stats" .}}
		</div>
	</fieldset>
{{end}}

{{define "stats"}}
	<table class="stats-table">
		<tr>
			{{if .}}
				<td class="stats-rank-cell">#{{.}}</td>
			{{end}}
			<td class="stats-score-cell">
				<span id="score-stat"></span>
			</td>
			<td class="stats-other-cell">
				SPEED: <span id="speed-level-stat"></span>
				<br />
				TIME: <span id="elapsed-time-stat"></span>
			</td>
		</tr>
	</table>
{{end}}

{{define "close-button"}}
	<button id="close-button" class="button">CLOSE</button>
{{end}}
