{{define "menus"}}
	<div id="main-menu" class="centered-menu-container">
		<table>
			<td>
				<h1 id="main-menu-title">b l o c k c i l l i n</h1>
				{{template "stats" "main-menu-stats"}}
				<ul class="vertical-menu">
					<li id="continue-button" class="button">C O N T I N U E</li>
					<li id="new-game-button" class="button">N E W &nbsp;G A M E</li>
					<li id="stats-button" class="button">S T A T S</li>
					<li id="options-button" class="button">O P T I O N S</li>
				</ul>
			</td>
		</table>
	</div>

	<div id="stats-menu" class="centered-menu-container">
		<table>
			<td>
				<div class="menu-panel">
					<h1>S T A T S</h1>
					<h2 id="no-stats-label">You haven't played yet!</h2>
					{{template "stats-entry" 1}}
					{{template "stats-entry" 2}}
					{{template "stats-entry" 3}}
					{{template "stats-entry" 4}}
					{{template "stats-entry" 5}}
					{{template "close-button"}}
				</div>
			</td>
		</table>
	</div>

	<div id="options-menu" class="centered-menu-container">
		<table>
			<td>
				<div class="menu-panel">
					<h1>O P T I O N S</h1>
					<fieldset>
						<legend>KEYBOARD CONTROLS</legend>
						<p>
							<label>UP</label>
							<button id="up-button" class="button"></button>
						</p>

						<p>
							<label>DOWN</label>
							<button id="down-button" class="button"></button>
						</p>

						<p>
							<label>LEFT</label>
							<button id="left-button" class="button"></button>
						</p>

						<p>
							<label>RIGHT</label>
							<button id="right-button" class="button"></button>
						</p>

						<p>
							<label>SWAP</label>
							<button id="swap-button" class="button"></button>
						</p>

						<p>
							<label>MENU</label>
							<button id="menu-button" class="button"></button>
						</p>
					</fieldset>
					{{template "close-button"}}
				</div>
			</td>
		</table>
	</div>

	<div id="game-menu" class="menu-container">
		<table>
			<td>
				<ul class="horizontal-menu">
					<li class="game-stat">
						<h2>SPEED</h2>
						<p id="speed-level-stat"></p>
					</li>
					<li id="pause-button" class="button">
						<h2>TIME</h2>
						<p id="elapsed-time-stat"></p>
					</li>
					<li class="game-stat">
						<h2>SCORE</h2>
						<p id="score-stat"></p>
					</li>
				</ul>
			</td>
		</table>
	</div>
{{end}}

{{define "stats-entry"}}
	{{$entryId := printf "stats-entry-%d" .}}
	<fieldset id="{{$entryId}}">
		<legend>{{.}}</legend>
		{{$statsId := printf "stats-%d" .}}
		{{template "stats" $statsId}}
	</fieldset>
{{end}}

{{define "stats"}}
	<ul id="{{.}}" class="stats">
		<li>SPEED: <span id="speed-level-stat"></span></li>
		<li>TIME: <span id="elapsed-time-stat"></span></li>
		<li>SCORE: <span id="score-stat"></span></li>
	</ul>
{{end}}

{{define "close-button"}}
	<button id="close-button" class="button">CLOSE</button>
{{end}}

{{define "links"}}
	<p id="links">
		<a href="https://blockcillin.blogspot.com">Blog</a>
		| <a href="https://github.com/btmura/blockcillin">GitHub</a>
		{{if .ShowDebugLink}}| <a href="/debug">Debug</a>{{end}}
		{{if .ShowReleaseLink}}| <a href="/">Release</a>{{end}}
		{{if .ShowTestLink}}| <a href="/tests">Tests</a>{{end}}
	</p>
{{end}}
