{{define "jquery"}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{{end}}

{{define "qunit"}}
	<script src="http://code.jquery.com/qunit/qunit-1.14.0.js"></script>
	<script src="js/qunit-plugins/qunit-close-enough.js"></script>
{{end}}

{{define "bc-scripts"}}
	{{template "jquery"}}
	<script src="js/bc/game.js"></script>
	<script src="js/bc/gl.js"></script>
	<script src="js/bc/math.js"></script>
	<script src="js/bc/matrix.js"></script>
	<script src="js/bc/ready.js"></script>
	<script src="js/bc/time.js"></script>
	<script src="js/bc/util.js"></script>
{{end}}

{{define "bc-compiled"}}
	{{template "jquery"}}
	<script src="js/blockcillin.js"></script>
{{end}}

{{define "bc-tests"}}
	{{template "bc-scripts"}}
	{{template "qunit"}}
	<script src="js/bc-tests/game_test.js"></script>
	<script src="js/bc-tests/gl_test.js"></script>
	<script src="js/bc-tests/math_test.js"></script>
	<script src="js/bc-tests/matrix_test.js"></script>
	<script src="js/bc-tests/time_test.js"></script>
	<script src="js/bc-tests/util_test.js"></script>
{{end}}
