{{define "jquery"}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{{end}}

{{define "qunit"}}
	<script src="//code.jquery.com/qunit/qunit-1.14.0.js"></script>
	<script src="js/qunit-plugins/qunit-close-enough.js"></script>
{{end}}

{{define "bc"}}
	{{template "jquery"}}
	{{template "shaders"}}
	<script src="js/bc/audio/player.js"></script>
	<script src="js/bc/audio/sound.js"></script>
	<script src="js/bc/cell.js"></script>
	<script src="js/bc/cell_chain.js"></script>
	<script src="js/bc/cell_drop.js"></script>
	<script src="js/bc/cell_view.js"></script>
	<script src="js/bc/common/animation.js"></script>
	<script src="js/bc/common/clock.js"></script>
	<script src="js/bc/common/direction.js"></script>
	<script src="js/bc/common/stopwatch.js"></script>
	<script src="js/bc/common/storage.js"></script>
	<script src="js/bc/common/unit.js"></script>
	<script src="js/bc/controller.js"></script>
	<script src="js/bc/core/board.js"></script>
	<script src="js/bc/core/stat.js"></script>
	<script src="js/bc/core/stat_board.js"></script>
	<script src="js/bc/game.js"></script>
	<script src="js/bc/gl.js"></script>
	<script src="js/bc/main.js"></script>
	<script src="js/bc/math.js"></script>
	<script src="js/bc/matrix.js"></script>
	<script src="js/bc/menu/credits.js"></script>
	<script src="js/bc/menu/game.js"></script>
	<script src="js/bc/menu/main.js"></script>
	<script src="js/bc/menu/menu.js"></script>
	<script src="js/bc/menu/options.js"></script>
	<script src="js/bc/menu/stats.js"></script>
	<script src="js/bc/resources.js"></script>
	<script src="js/bc/ring.js"></script>
	<script src="js/bc/selector.js"></script>
	<script src="js/bc/selector_view.js"></script>
	<script src="js/bc/stage.js"></script>
	<script src="js/bc/stage_view.js"></script>
	<script src="js/bc/util.js"></script>
	<script src="js/bc/view/board.js"></script>
	<script src="js/bc/view/stat.js"></script>
{{end}}

{{define "bc-compiled"}}
	{{template "jquery"}}
	{{template "shaders"}}
	<script src="js/bc-compiled/bc.js"></script>
{{end}}

{{define "bc-tests"}}
	{{template "bc"}}
	{{template "qunit"}}
	<script src="js/bc-tests/cell_chain_test.js"></script>
	<script src="js/bc-tests/gl_test.js"></script>
	<script src="js/bc-tests/math_test.js"></script>
{{end}}
