{{define "jquery"}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{{end}}

{{define "qunit"}}
	<script src="//code.jquery.com/qunit/qunit-1.14.0.js"></script>
	<script src="js/qunit-plugins/qunit-close-enough.js"></script>
{{end}}

{{define "bc"}}
	{{template "jquery"}}
	{{template "shaders"}}
	<script src="js/bc/board/model.js"></script>
	<script src="js/bc/board/view.js"></script>
	<script src="js/bc/common/direction.js"></script>
	<script src="js/bc/common/keycode.js"></script>
	<script src="js/bc/cell.js"></script>
	<script src="js/bc/game.js"></script>
	<script src="js/bc/gl.js"></script>
	<script src="js/bc/math.js"></script>
	<script src="js/bc/matrix.js"></script>
	<script src="js/bc/selector.js"></script>
	<script src="js/bc/time.js"></script>
	<script src="js/bc/util.js"></script>
{{end}}

{{define "bc-compiled"}}
	{{template "jquery"}}
	{{template "shaders"}}
	<script src="js/bc-compiled/bc.js"></script>
{{end}}

{{define "bc-tests"}}
	{{template "bc"}}
	{{template "qunit"}}
	<script src="js/bc-tests/game-test.js"></script>
	<script src="js/bc-tests/gl-test.js"></script>
	<script src="js/bc-tests/math-test.js"></script>
	<script src="js/bc-tests/matrix-test.js"></script>
	<script src="js/bc-tests/time-test.js"></script>
	<script src="js/bc-tests/util-test.js"></script>
{{end}}
