{{define "shaders"}}
	<script id="vertex-shader" type="x-shader/x-vertex">
		attribute vec4 a_position;
		attribute vec2 a_textureCoord;

		uniform mat4 u_projectionMatrix;
		uniform mat4 u_viewMatrix;

		uniform mat4 u_boardMatrix;
		uniform mat4 u_ringMatrix;
		uniform mat4 u_cellMatrix;

		varying vec2 v_textureCoord;

		void main() {
			// Multiply the position by all matrices.
			gl_Position = u_projectionMatrix
					* u_viewMatrix
					* u_boardMatrix
					* u_ringMatrix
					* u_cellMatrix
					* a_position;

			// Pass the texcoord to the fragment shader.
			v_textureCoord = a_textureCoord;
		}
	</script>

	<script id="fragment-shader" type="x-shader/x-fragment">
		precision mediump float;

		// Passed in from the vertex shader.
		varying vec2 v_textureCoord;

		// The texture.
		uniform sampler2D u_texture;

		// Amount added to the fragment's original red value.
		uniform float u_yellowBoost;

		// Alpha amount that is multiplied against the fragment's original alpha.
		uniform float u_alpha;

		void main() {
			vec4 textureColor = texture2D(u_texture, v_textureCoord);
			gl_FragColor = vec4(
				textureColor.rg + u_yellowBoost,
				textureColor.b,
				textureColor.a * u_alpha);
		}
	</script>
{{end}}
