{{define "shaders"}}
	<script id="vertex-shader" type="x-shader/x-vertex">
		attribute vec4 a_position;
		attribute vec2 a_texcoord;

		uniform mat4 u_projectionMatrix;
		uniform mat4 u_viewMatrix;

		uniform mat4 u_boardMatrix;
		uniform mat4 u_ringMatrix;
		uniform mat4 u_cellMatrix;

		varying vec2 v_texcoord;

		void main() {
			// Multiply the position by all matrices.
			gl_Position = u_projectionMatrix
					* u_viewMatrix
					* u_boardMatrix
					* u_ringMatrix
					* u_cellMatrix
					* a_position;

			// Pass the texcoord to the fragment shader.
			v_texcoord = a_texcoord;
		}
	</script>

	<script id="fragment-shader" type="x-shader/x-fragment">
		precision mediump float;

		// Passed in from the vertex shader.
		varying vec2 v_texcoord;

		// The texture.
		uniform sampler2D u_texture;

		void main() {
			gl_FragColor = texture2D(u_texture, v_texcoord);
		}
	</script>
{{end}}
