<html>
	<head>
		<title>blockcillin {{if .Mode.Debug}}- DEBUG{{end}} - tests</title>
		<link rel="stylesheet" type="text/css" href="{{cssPath "tests" .Mode}}">
		<link rel="stylesheet" type="text/css" href="/third_party/css/qunit-1.14.0.css" />
	</head>
	<body>
		<p class="links">
			<a href="/debug">Debug</a>
			| <a href="/">Release</a>
			| <a href="/debug/tests">Debug Tests</a>
			| <a href="/tests">Release Tests</a>
		</p>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
		{{if .Mode.Debug}}
			{{template "bc-tests-debug"}}
		{{else}}
			{{template "bc-tests-release"}}
		{{end}}
	</body>
</html>
