body {
	margin: 0;
	padding: 0;
}

#main-menu, #canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#main-menu {
	background: rgba(20, 20, 20, 0.75);
	display: none;
	text-align: center;

	width: 100%;
	height: 100%;
	z-index: 2;
}

#main-menu table {
	margin: auto;
	width: 100%;
	height: 100%;
}

@media (min-width: 500px) {
	#main-menu table {
		width: 500px;
	}
}

#main-menu td {
	text-align: center;
	vertical-align: middle;
}

#main-menu h1 {
	white-space: nowrap;
}

#main-menu ul {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgb(100, 0, 0);
	border-radius: 5px;
	list-style: none;
	margin: 10px;
	padding: 0px;
}

#main-menu li {
	background: rgb(50, 50, 50);
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}

#main-menu li:hover {
	background: rgb(75, 75, 75);
}

#main-menu #menu {
	font-size: 0.75em;
}

#canvas {
	width: 100%;
	height: 100%;
	z-index: 0;
}
