body {
	background-color: #000000;
	margin: 0;
	padding: 0;
}

body, a {
	color: #ffffff;
	font-family: monospace;
}

#main-menu {
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
}

#main-menu table {
	width: 100%;
	height: 100%;
}

@media (min-width: 450px) {
	#main-menu table {
		width: 450px;
	}
}

.menu {
	display: none;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.menu table {
	margin: auto;
}

.menu td {
	text-align: center;
	vertical-align: middle;
}

.menu h1 {
	white-space: nowrap;
}

.menu ul {
	list-style: none;
	margin: 10px;
	padding: 0px;
}

.menu li {
	background: rgba(50, 50, 50, 0.9);
	border-radius: 10px;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
}

.menu li:hover {
	background: rgba(75, 75, 75, 0.9);
}

#links {
	color: #999999;
	font-size: 0.75em;
	margin-top: 20px;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
