body {
	background-color: #000000;
	margin: 0;
	padding: 0;
}

body, a {
	color: #ffffff;
	font-family: monospace;
}

h1, h2, p {
	text-align: center;
	white-space: nowrap;
}

table {
	margin: auto;
}

#main-menu, #options-menu {
	background: rgba(0, 0, 0, 0.75);
}

.centered-menu-container, .menu-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.centered-menu-container {
	height: 100%;
}

.centered-menu-container > table {
	width: 100%;
	height: 100%;
}

@media (min-width: 400px) {
	.centered-menu-container > table {
		width: 400px;
	}
}

.main-menu-stats {
	list-style: none;
	text-align: center;
	margin: 20px;
	padding: 0px;
}

.vertical-menu, .horizontal-menu {
	list-style: none;
	margin: 10px;
	padding: 0px;
}

.horizontal-menu li {
	display: inline-block;
	vertical-align: middle;
}

.button {
	background: rgba(50, 50, 50, 0.9);
	background-image: linear-gradient(
		rgba(40, 40, 40, 0.9),
		rgba(70, 70, 70, 0.9)
	);
	border: 1px;
	border-radius: 20px;
	box-shadow: inset 0px 0px 2px #555555;
	color: #ffffff;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 1px #333333;
	text-transform: uppercase;
	white-space: nowrap;
}

.button:hover {
	background: rgba(70, 0, 0, 0.9);
	background-image: linear-gradient(
		rgba(70, 0, 0, 0.9),
		rgba(140, 0, 0, 0.9)
	);
}

.stat {
	padding: 5px;
}

.button h2, .button p, .stat h2, .stat p {
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
}

fieldset {
	border-radius: 10px;
	border-color: #666666;
	text-align: center;
	text-transform: uppercase;
}

fieldset label, fieldset button {
	display: inline-block;
	text-transform: uppercase;
	width: 100px;
}

fieldset p {
	margin: 0px;
	padding: 0px;
}

.light-menu-panel {
	background: rgba(30, 30, 30, 0.9);
	background-image: linear-gradient(
		rgba(20, 20, 20, 0.9),
		rgba(40, 40, 40, 0.9)
	);
	border-radius: 20px;
	text-align: center;
	padding: 10px;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
