<html>
	<head>
		<title>blockcillin</title>
		<link rel="stylesheet" type="text/css" href="css/site.css">
	</head>
	<body>
		<p>
			<a href="https://blockcillin.blogspot.com" target="_blank">Blog</a> |
			<a href="https://github.com/btmura/blockcillin" target="_blank">GitHub</a>
		</p>

		<canvas id="canvas"></canvas>

		<script id="2d-vertex-shader" type="x-shader/x-vertex">
			attribute vec2 a_position;

			void main() {
				gl_Position = vec4(a_position, 0, 1);
			}
		</script>

		<script id="2d-fragment-shader" type="x-shader/x-fragment">
			precision mediump float;

			uniform vec3 u_color;

			void main() {
				gl_FragColor = vec4(u_color, 1);
			}
		</script>

		<script src="js/blockcillin.js"></script>

	</body>
</html>